<div class="navbar">
    <div class="sc-container space-between flex">
        <div class="logo-div">
            <a routerLink="/">
                <img src="assets/img/logo.svg" alt="logo" />
            </a>
        </div>
        <div class="menu-div flex">
            <ul class="menu-items flex">
                <li><a class="font" routerLink="/">Home</a></li>
                <li><a class="font" routerLink="/coffees">Coffees</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar-scrolled">
    <div class="sc-container space-between flex">
        <div class="logo-div">
            <a routerLink="/">
                <img src="assets/img/logo-white.svg" alt="logo" />
            </a>
        </div>
        <div class="menu-div flex">
            <ul class="menu-items flex">
                <li><a class="font" routerLink="/">Home</a></li>
                <li><a class="font" routerLink="/coffees">Coffees</a></li>
            </ul>
        </div>
    </div>
</div>