.coffees-div {
    padding-top: 1.5em;
    padding-bottom: 4em;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption {
        font-size: 3em;
        margin: .5em 0 .75em;
        font-weight: 500;
    }

    tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    thead {
        tr {
            background-color: #A17C51;
        }

        th {
            color: white;
        }
    }

    th,
    td {
        padding: .625em;
        text-align: center;
        font-size: 1em;
        border: 1px solid #888888;
    }

    th {
        font-size: 1em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1024px) {
    table {
        border: 0;

        caption {
            font-size: 2em;
        }

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            border-bottom: 1px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;

            &::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            &:last-child {
                border-bottom-width: 2px;
            }
        }
    }
}